.wrapper-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form-box {
  position: relative;
  width: 380px;
  height: 400px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.form-box.active {
  height: 500px;
}

.form-box form {
  position: absolute;
  inset: 4px;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Bungee Inline", sans-serif;
  font-size: 18pt;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.input-box {
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.input-box input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.input-box span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
  color: #fff;
  font-style: 0.75em;
  transform: translateY(-34px);
}

.input-box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.input-box input:valid ~ i,
.input-box input:focus ~ i {
  height: 35px;
}

.link-box {
  display: flex;
  justify-content: space-between;
}

.link-box a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}

.link-box a:hover,
.link-box a:nth-child(2) {
  color: #fff;
}

.btn-submit {
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
}

.btn-submit:active {
  opacity: 0.8;
}

.active {
  display: block;
}

.account_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  box-shadow: 0px 0px 40px 10px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.692);
  height: 500px;
  width: 100%;
  padding: 48px;
}

.account_wrapper-box {
  display: flex;
  justify-content: space-around;
}

.account_box-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.account_name {
  color: #fff;
}

.account_avatar {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background-color: aliceblue;
}

.btn_upload-avatar {
  position: relative;
  color: #fff;
  margin: 0 auto;
  background-color: rgba(29, 1, 47, 0.303);
  cursor: pointer;
  width: 90%;
  height: 40px;
  border-radius: 30px;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
}

.btn_upload-avatar::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  background: linear-gradient(90deg, rgb(6, 85, 243) 0%, rgb(255, 0, 225) 100%);
  left: 0;
  top: 0;
  z-index: -1;
}

.btn_upload-avatar:hover {
  font-size: 14px;
  width: 91%;
  height: 42px;
  transition-duration: 0.3s;
}

.btn_upload-avatar:not(:hover) {
  font-size: 13px;
  width: 90%;
  height: 40px;
  transition-duration: 0.3s;
}

.input_add-avatar {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 30px;
  opacity: 1;
  cursor: pointer; */
}
