* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../images/bg-image.jpg");
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.hide {
  display: none !important;
}
