* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../images/bg-image.jpg");
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.hide {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: initial !important;
  transition: background-color 5000s ease-in-out 0s;
}