.header_area {
  background-color: rgba(0, 0, 0, 0.374);
  display: flex;
  height: 90px;
}

.header_icon-logo {
  position: relative;
  top: -35px;
  left: -33px;
  height: 74px;
}

.header_icon-logo-area {
  align-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 25px rgba(28, 72, 152, 1);
  margin-block: auto;
  margin-left: 3%;
}

.header_name-club-area {
  box-shadow: 0px 0px 50px 15px rgba(28, 72, 152, 1);
  height: 0px;
  margin-block: auto;
  margin-left: 5%;
}

.header_name-club {
  position: relative;
  top: -30px;
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32pt;
  text-decoration: underline;
  color: white;
}

.header_menu-area {
  display: flex;
  margin-left: 30%;
  margin-block: auto;
}

.header_menu-text-area {
  height: 0px;
  box-shadow: 0px 0px 50px 10px rgba(28, 72, 152, 1);
  margin-block: auto;
  margin-inline: 42px;
}

.header_menu-text {
  position: relative;
  top: -15px;
  text-decoration: none;
  font-family: Arial;
  font-size: 20pt;
  font-weight: 800;
  color: white;
  transition: all;
  transition: 100ms;
}

.header_menu-text:hover {
  transition: all;
  transition: 100ms;
  font-weight: 800;
  color: rgba(28, 72, 152, 1);
}
